html {
    font-family: "Spline Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

img {
    height: 10em;
    position: relative;
    left: -10em;
}

.container {
    height: 500px;
    width: 500px;
    background-image: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    background-size: cover;
    border-radius: 1em;
    
    margin-right: 10%;

}

h1{
    text-align: center;
    padding: 1em;
    letter-spacing: 0.5em; 
}

.input {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

input[type="text"], input[type="password"]  {
    font-size: 1em;
    margin-top: 20px;
    padding: 15px 20px 15px 5px;
    min-width: 27em;
    border-radius: 0.5em;
    border: 2px solid rgb(102, 102, 102);
}

.check {
    margin: 10px;
    padding: 0.5em 2.5em;
    width: 50%;

}

.forpass {
    position: relative;
    left: 320px;
    top: -37px;
}

button{
    margin-left: 9.5em;
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    background: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    color: rgb(94, 100, 222);
    border-color: rgb(94, 100, 222);

    transition: transform 1s, box-shadow 1s;
}

button:hover {
    transform:translateY(-3px);
    box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(94, 100, 222);
}